.edit-post-body {
  padding: 20px;
}

.edit-post-container {
  max-width: 600px;
  margin: auto;
}

.edit-input,
.edit-textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1rem;
}

.edit-submit-btn {
  padding: 10px 20px;
  background-color: #222;
  color: white;
  border: none;
  cursor: pointer;
}

.preview-image{
    margin-top: -50px;
}

.image-container {
  width: 330px;
  height: 300px;
  margin-left: 410px;
  overflow: hidden;
}

.pill--type{
    background-color: rgb(252, 117, 45);
    font-size: 12px;
    font-family: "Oswald", sans-serif;
    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 1em;
    border: none;
    cursor: pointer;
    outline-offset: 1.5px;
}

.pill--producttype{
    background-color: #97b7fc;
    font-size: 12px;
    font-family: "Oswald", sans-serif;
    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 1em;
    border: none;
    cursor: pointer;
    outline-offset: 1.5px;
}

.pill--skintype{
    background-color: rgb(251, 174, 255);
    font-size: 12px;
    font-family: "Oswald", sans-serif;
    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 1em;
    border: none;
    cursor: pointer;
    outline-offset: 1.5px;
}

.pill--type.selected {
  outline: 2px solid rgb(252, 117, 45); 
}

.pill--skintype.selected {
  outline: 2px solid rgb(251, 174, 255); 
}

.pill--producttype.selected {
  outline: 2px solid #97b7fc; 
}

.pill {
  font-size: 12px;
  font-family: "Oswald", sans-serif;
  padding: 0.5em 1em;
  margin: 0.25em;
  border-radius: 1em;
  border: none;
  cursor: pointer;
  outline-offset: 1.5px; 
  outline-style: solid; 
}